---
layout: default
---
{% for post in site.posts limit:6 %}
    <div class="col s12 m6 l4">
       <!-- Article Title -->
        <a href="{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
        <h1 class="light-green-text">{{ post.title }}</h1></a>
        <!-- Article Thumbnail -->
        {% if post.photo_url %}
        <img class="img-responsive" src="{{ post.photo_url }}">
        {% else %}
          <time datetime="{{ page.date | date: "%Y-%m-%d" }}" class="left icon">
            <strong>{{ post.date | date: "%B" }}</strong>
            <span>{{ post.date | date: "%d" }}</span>
          </time>
        <!-- {{ post.date | date: "%b %Y" }}
        </info> -->
        {% if post.description %}
          <span class="flow-text">{{ post.description | strip_html }}</span>
        {% else %}
          <span class="flow-text">{{ post.excerpt | strip_html }}</span>
        {% endif %}
      {% endif %}<!-- post.photo_url -->
        
    <div class="divider"></div>
      <a href="{{ post.url }}" class="right light-green-text">read more</a>
      </div>
{% endfor %}
