<header class="site-header">
  <div class="row"></div>
  <div class="row">
	  <div class="col s12 m6 l6 offset-m3 offset-l3">
	      <a href="/" ><img class="responsive-img brand-logo" src="/res/logo_c.png"></a>
	  </div>
	  <div class="col s12 m3 l3 right navbar-right">
	  	<a href="/archive/">Archive</a>
	  </div>
</div>
    <div class="social-icons center">
    	<a class="fa fa-xing green-text" href="https://www.xing.com/profile/{{site.author.xing}}"></a>
  		<a class="fa fa-github black-text" href="https://github.com/{{site.author.github}}"></a>
  		<a class="fa fa-twitter blue-text" href="https://twitter.com/{{site.author.twitter}}"></a>
  		<a class="fa fa-lastfm red-text" href="http://www.last.fm/user/{{site.author.last-fm}}"></a>
      <a class="fa fa-camera-retro indigo-text" href="https://photos.benmatheja.de"></a>
  		<a class="fa fa-rss orange-text" href="/atom.xml"></a>
  </div>
  <div class="divider blue"></div>
</header>
